body{
    background-color: black;
    color: white;

}
div, .first-class, .second-class {
    text-decoration: none;
    position: fixed;
    color: black;
    background-color: white;
    padding: 2px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: -15px;
}
.second-class {
    margin-left: 1275px;
}
.first-class {
    margin-left: -2px;
}
h1{
    text-align: center;
    text-transform: capitalize;
    background-color: white;
    color: black;
    margin-top: 30px;
    border-radius: 5px;
    margin-right: -5px;
    margin-left: 0px;
}
.image {
    width: 100%;
    height: 300px;
    margin-left: auto;
}
h2{
    margin-left: 15px;
    text-transform: none;
}
.images {
    margin-left: 15px;
}
.book{
    width: 35%;
    float: left;
    margin-right: 10px;
}

.care{
    margin-top: 50px;
}
.support{
    height: 20px;
    border-radius: 5px;
}
.learn{
    margin-top: 50px;
}
.learn a{
    color: blue;
    text-decoration: none;
}
.learn a:hover{
    text-decoration: underline;
    color: lightblue;
}
.terms{
    text-align: right;
    margin-top: -30px;
}
.terms a{
    text-decoration: none;
    color: blue;
}
.terms a:hover{
    text-decoration: underline;
    color: lightblue;
}
.a-link {
    color: blue;
    text-decoration: none;
}
.a-link:hover {
    text-decoration: underline;
    color: lightblue;
}
.moist {
    font-weight: bolder;
}
.steps {
    text-align: center;
}
.listing {
    margin-top: 5px;
}
.penhole {
    width: 35%;
    height: 170px;
    border-radius: 3px;
    float: left;
    margin-right: 20px;
}

.moisture {
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    border-radius: 1px;
}
.tissues {
    text-align: center;
    margin-top: -50px;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
}
.justmakingmoneyonfacebokkbbij {
    text-align: center;
    color: grey;
}
.justthhompegeofthisURlinabothtml {
    padding: 30px;
    color: grey;
    text-decoration: none;
    padding-top: 10px;
}
.justthhompegeofthisURlinabothtml:hover {
    text-decoration: underline;
}
.waitingformetotouchyouok {
    color: grey;
    text-decoration: none;
}
.waitingformetotouchyouok:hover {
    text-decoration: underline;
}
.Therecentofthispaostpage {
    text-transform: capitalize;
    margin-top: 50px;
    margin-left: 10px;
    border-top: 3px solid grey;
    border-left: 5px solid blue;
    border-bottom: 3px solid grey;
    padding: 10px;
    width: 300px;
    font-weight: bold;
}
.Thesecondrecentpostofthispage {
    margin-left: 20px;
    font-size: 1.5em;
    color: red;
    margin-top: 30px;
}
.Thelidtsytltypeoflist {
    text-align: left;
    padding: 20px;
    width: 90%;
}
.Thelidtsytltypeoflist .Thelinkingpartofthispage {
    color: lightblue;
    text-decoration: none;
}
.Thelidtsytltypeoflist .Thelinkingpartofthispage:hover {
    text-decoration: underline;
}
.thparentelementofthispageplease {
    list-style-type: none;
    margin-left: -20px;
}
.thenexttaskofthispage {
    text-align: right;
    width: 50%;
    margin-top: -75px;
}
.thereshouldntbeanytaskhere {
    position: relative;
    left: 100%;
    text-decoration: none;
    color: red
}
.theprvioustaskofthispage {
    text-align: left;
    width: 30%;
    margin-top: 30px;
}
.thisistheurlofnexppage {
    text-align: right;
    color: grey;
    text-decoration: none;
}
.thisisthenextlink {
    text-align: right;
    margin-right: 20px;
}
.tellthereasonwhyididnotclassyou {
    color: red;
    text-decoration: none;
}
.previous {
    color: grey;
    text-decoration: none;
}
.previous:hover {
    text-decoration: underline;
}
.previous:focus {
    color: grey;
}
.thisistheurlofnexppage:hover {
    text-decoration: underline;
}
.thisistheurlofnexppage:focus {
    color: grey;
}
.tellthereasonwhyididnotclassyou:hover {
    text-decoration: underline;
}
.tellthereasonwhyididnotclassyou:focus {
    color: grey;
}
.thereshouldntbeanytaskhere:hover {
    text-decoration: underline;
}
.thereshouldntbeanytaskhere:focus {
    color: grey;
}
.socialmedia p .anchorimage img {
    width: 30px;

}
.socialmedia p {
    display: inline;
}
.socialmedia {
    position: relative;
    padding: 10px;
    background-color: black;
}
.helloladiesandgentlemenWelconeTo12Sow {
    width: 100%;
    height: 220px;
    background-color: black;
}
.alinkTObefollowingingThePage {
    text-align: center;
    color: grey;
    margin-bottom: -15px;
    text-decoration: underline;
    text-decoration-color: grey;
}
.media {
    display: flex;
    justify-content: center;
}
.instagram {
    width: 40px;
    padding: 10px;
    border-radius: 5px;
}
.footer {
    text-align: center;
    color: grey;
}
.focus-1 {
    color: blue;
    text-decoration: none;
}
.focus-1:hover {
    text-decoration: underline;
}
.ThisisAno1355thing {
    padding: 20px;
}
.disagree {
    color: blue;
}
.theimageofthedivelement, .imageclassfile{
    width: 50px;
    height: 50px;
}
.theimageofthedivelement{
   display: flex;
   display: inline;
   padding: 5px;
}
.theimageofthedivelement, .imageclassfile{
    width: 50px;
    height: 50px;
}
.imageclassfile {
    border-radius: 1px;
}
.pictures {
    display: inline-block;
    width: 70%;
}
.thisistheanchortagofthiselement {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    left: 5px;
    top: -5px;
   
}
.thisistheanchortagofthiselement:hover {
    text-decoration: underline;
}
.about {
    text-align: center;
}

.element-div {
    border-top: 2px solid grey;
}
.element-div-2 {
    border-top: 2px solid grey;
}