


.Thefirst1385URlElement {
    display: inline;
    padding-top: 150px;
}
.Thefirst1385URlElement .HelotheisHRMlissoBvious {
    color: white;
    padding: 10px;
    text-decoration: none;
    padding-top: 150px;

}

.Thefirst1385URlElement:hover .HelotheisHRMlissoBvious {
    color: skyblue;
    text-decoration: underline;
    text-decoration-color: skyblue;
}
.Thisshouldbeanidingthiselement {
    width: 20%;
    position: relative;
    top: -170px;
}
.Justananotherclasselement {
    text-align: right;
}
h2 {
    text-transform: capitalize;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

h2 a {
    text-decoration: none;
    color: black;
}
.theSecondimage {
    height: 50px;
    width: 50px;
    position: relative;
    left: 50%;
    border-radius: 25px;
}
.Juiceworldabout {
    position: absolute;
    left: 50%;
    top: 15%;
}

.this-is-the-listing-tag .this-is-the-anchor-tag:hover {
    text-decoration: underline;
}
.timeformetoclassyou {
    width: 80%;
    height: 280px;
    margin-left: 10%;
    border-radius: 3px;
}
.thisisthefooterelememtpage {
    background-color: purple;
    width: 100%;
    height: 300px;
    margin-top: 50px;
}
.istockphotos {
    position: absolute;
    left: 35%;
    margin-top: 10px;
    width: 200px;
    border-radius: 50%;
 }
.theparentlidting {
    position: relative;
    top: 55%;
}

@media (max-width: 520px) {
    .thesubparentlisting a {
        display: block;
        margin-top: -50px;
        margin-left: 10px;
        padding: 15px;
        position: relative;
        top: -30px;
    }
    .heading-2 {
        visibility: hidden;
    }
}
@media (max-width: 720px) {
    .thesubparentlisting a {
        display: block;
        margin-top: -40px;
        margin-left: 10px;
        padding: 15px;
        position: relative;
        top: -30px
    }
    .heading-2 {
        visibility: hidden;
    }
}


.theparentlidting, .thesubparentlisting {
    display: inline;
    padding: 20px;

}
.theparentlidting, .thesubparentlisting a {
    color: white;
    text-decoration: none;
}
.theparentlidting, .thesubparentlisting {
    display: inline;
    padding: 10px;
}
.theparentlidting, .thesubparentlisting a {
    color: white;
    text-decoration: none;
}
.ifihavetoclassyou:hover {
    text-decoration: underline;
}
.thisisthelastdivofthispage {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    position: relative;
    top: -15px;
}
.thisisalsothelastparapraph {
    text-align: center;
}
.thanks {
    text-align: center;
}
.heading-2 .heading-2-anchor {
    position: absolute;
    margin-top: 170px;
    font-size: 20px;
    left: 30px;
    border: 1px solid white;
    background: linear-gradient(to right, purple, lightblue);
    padding: 7px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
#imagesource1 {
    width: 15px;
    position: relative;
    bottom: 8px;
}
.paragraph {
    text-align: right;
}
.paragraph-text {
    text-align: right;
}
.imageparapgraph {
    position: relative;
    right: 8px;
    bottom: 25px;
    position: fixed;
    background-color: purple;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    border-radius: 3px;
}
.delete-element {
    text-align: center;
}

.number-element, .number-achor-element{
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
.number-achor-element {
    border: 1px solid purple;
    color: purple;
}
.Next-page {
    color: purple;
}
.anchor-page {
    background-color: purple;
    color: white;
}





.first-image {
    width: 400px;
}

.heading-1 {
    width: 300px;
    position: relative;
    left: 50px;
    
}
.anhorElement {
    text-decoration: none;
}
section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 400px);
}
@media (max-width: 720px) {
    .container {
        grid-template-columns: repeat(1, 250px);
        position: relative;
        right: 70px;
    }
    .first-image {
        width: 300px;
        position: relative;
        left: 50px;
    }
    .heading-1 {
        text-align: center;
        font-size: 15px;
    }
}
@media (max-width: 850px) {
    .container {
        grid-template-columns: repeat(1, 250px);
    }
}
@media (max-width: 870px) {
    .firstHeading {
        font-size: 20px;
        width: 300px;
    }
}


.divMarquee {
    background-color: purple;
    height: 50px;
    margin-top: 30px;
    margin: 0;
}
marquee {
    color: white;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
}
.firstImageOfThisPage {
    width: 100%;
    position: relative;
    top: 50px;
    margin: 0;
    padding: 0;
}
@media (min-width: 720px) {
    .firstImageOfThisPage {
        height: 350px;
    }
}
@media (max-width: 720px) {
    .firstImageOfThisPage {
        height: 350px;
    }
}
.firstHeading {
    position: absolute;
    top: 100px;
    color: white;
    font-weight: bold;
    text-shadow: 10px 10px 5px black;
}
.secondHeading {
    text-align: center;
    position: relative;
    top: 50px;
    text-transform: uppercase;
    text-shadow: 10px 10px 15px blue;
}
.firstParagraph {
    position: absolute;
    top: 150px;
    width: 500px;
    font-weight: bold;
    color: white;
    margin-left: 5px;
    margin-top: 40px;
} 
@media (max-width: 720px) {
    .firstParagraph {
        width: 220px;
    }
}
#firstButton {
    position: absolute;
    top: 380px;
    right: 1200px;
    border: none;
    outline: 0;
    font-weight: bold;
    background-color: orangered;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
@media (max-width: 720px) {
    #firstButton {
        position: absolute;
        right: 250px;
    }
}
