.heading-1top-1 {
    text-transform: capitalize;
    text-align: center;
}
.image-of-facebooklogl1 {
    width: 15%;
    height: 100px;
    text-align: center;
    align-self: center;
}
.first-paragraph-of-a-facebooklogo {
    text-align: center;
} 
.opena-new-facebookaccount-here {
    border: 1px solid black;
    color: white;
    text-decoration: none;
    background-color: green;
    border-radius: 1px;
    box-shadow: 5px 5px 10px green;
}
.iframefirstin-this-websiteof-facebppl {
    width: 40%;
    height: 250px; 
}
.first-paragraphofaniframecontent {
    text-align: center; 
}
.firstmeta-descriptionin-html {
    text-transform: uppercase;
}
.youtubeevent-video-descriptiontoke-redir {
    color: red;
    text-decoration: none;
}
.youtubeevent-video-descriptiontoke-redir:hover {
    text-decoration: underline;
    text-decoration-color: red;
}
.Makingmone-inNigeria2022 {
    text-align: center;  
}
.Alink-thatgoestono-whereinhtml {
    color: black;
    opacity: 0.6;
    text-decoration: none;
    display: inline-block;
}
.Thisstingsuck-somusn100DD {
    margin-right: 100px;
    text-decoration: none;
    text-transform: capitalize;
    color: gray;
}
.Thisstingsuck-somusn100DD:hover {
    text-decoration: underline;
    text-decoration-color: gray;
    text-decoration-style: solid;
}
.justherar-mecalling-outloud {
    float: right;
}
.Thedesireof-juiceworldis-so {
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    color: black;
}
.Thedesireof-juiceworldis-so:hover {
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
}
.Thedesireof-juiceworldis-so:focus {
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
}
.Marking-script  {
    font-size: 1.3em;
    background: white;
    font-weight: 600;
}
.Justhtwrongiswithyoly {
    margin: 0;
    padding: 0;
}
.LInkingaresource-isnotesatyforid .Alsolinkingaresource-iseasyforid .gettingdivisnoteast {
    display: inline-block;  
    padding-top: 10px;
}
.INstant-articles {
    color: red;
    text-decoration: none;
    padding: 10px;
}
.INstant-articles:hover {
    text-decoration: underline;
    text-decoration-color: red;
}
.thefirestinstreamadthatiwantto {
    padding-top: 10px;
    display: inline-block;
}